<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <filters>
                <ThresholdFilter level="ERROR"  onMatch="NEUTRAL"   onMismatch="DENY"/>
                <ThresholdFilter level="FATAL"  onMatch="DENY"   onMismatch="NEUTRAL"/>
            </filters>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogFile" fileName="target/log.txt" immediateFlush="true" append="false">
            <filters>
                <ThresholdFilter level="INFO"  onMatch="ACCEPT"   onMismatch="DENY"/>
            </filters>
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name= "ru.spbau.mit.Main" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>